<table class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Put</th>
            <th>Strike</th>
            <th>Last</th>
            <th>Bid</th>
            <th>Ask</th>
            <th style="text-align:center;">Sell</th>
            <th style="text-align:center;">Qty</th>
            <th style="text-align:center;">Buy</th>
        </tr>
    </thead>
    <tbody>
        {% for put in putsChain %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{put['symbol']}}</td>
            <td>{{'${:.0f}'.format(put['strike'])}}</td>
            <td>{{'${:.0f}'.format(put['last']) if put['last'] is not none else 'NA'}}</td>
            <td>{{'${:.2f}'.format(put['bid'])}}</td>
            <td>{{'${:.2f}'.format(put['ask'])}}</td>
            <td style="text-align:center; vertical-align:middle; padding-top: 0px;">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons mdl-color-text--red">remove_circle_outline</i>
                </button>
            </td>
            <td style="text-align:center;">0</td>
            <td style="text-align:center; vertical-align:middle; padding-top: 0px;">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons mdl-color-text--cyan">add_circle_outline</i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>